
body ,.btn, .form-control{
	font-size: 13px;
}
.card-form{
	margin-top: 1%;
	margin-bottom: 1%;
	.card-body{
		background-color: #e9ecef;
	}

	
}

.toast{
	margin-top: 5% !important;
}

.change-input-sucess{
	border-color: #28a745;
	background-color: #CFFABE;
}