
body ,.btn, .form-control{
	font-size: 13px;
}
.card-form{
	margin-top: 1%;
	margin-bottom: 1%;
	.card-body{
		background-color: #e9ecef;
	}

	
}

.toast{
	margin-top: 5% !important;
}

.change-input-sucess{
	border-color: #28a745;
	background-color: #CFFABE;
}

.body-opcion{
	 background-color: #EFEFEF;
    padding-top: 10px;
    padding-bottom: 10px;
      border-radius: 10px;
}

.opcion{
	padding: 5px;
    border-radius: 10px;
    border: 1px solid #FEFEFE;
    width: 80%;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 10px;
    margin-top: 10px;

 }